@import "variables.less";

@keyframes changeShadow {
  from {
    text-shadow: 0 0 2px white;
  }
  to {
    text-shadow: 0 0 10px white;
  }
}

body {
  background: @purple;
}

h1 {
  font-size: 60px;
}

h2 {
  font-size: 48px;
}

h1, h2 {
  text-align: center;
  font-family: Zapf Chancery, cursive;
  color: white;
  animation-duration: .6s;
  animation-name: changeShadow;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

#loading-bar {
  background: white;
  padding: 10px!important;
  box-shadow: inset 0 -3px 2px black;
}

#progress-bar {
  height: 20px;
  background: rgba(19, 7, 34, .90);
  border: 0!important;
}

#progress-bar::-webkit-progress-bar {
    background: #999;
}
#progress-bar::-webkit-progress-value {
    background: #999;
}
#progress-bar::-moz-progress-bar {
    background: #999;
}
