<script type="text/x-handlebars-template" id="root-main-template">
  <div class="wjs-header">
    <h1>
      I am running!
    </h1>
    <h2>
      I am root and you can find me at root folder inside your project.
    </h2>
  </div>
  <div class="wjs-instructions">
    <h3>Getting started</h3>
    <p><small>Here a little help to start the fun:</small></p>
    <ol>
      <li>
        Run <strong>wonkajs app books</strong> to create your first application.
      </li>
      <li>
        Then run the local server with command: <strong>wonkajs server</strong>.
      </li>
      <li>
        Finally append to your url <strong>/#books</strong> and have fun.
      </li>
    </ol>
    <p><small>For more info, you can read the <a href="http://wonkajs.com" target="_blank">documentation</a>.</small></p>
  </div>
</script>
