<script type="text/x-handlebars-template" id="root-main-template">
  <div class="wjs-header">
    <h1>
      <p>I am running!</p>
      <small>This is your first wonkajs powered page.</small>
    </h1>
  </div>
  <div class="hero-unit">
    <h3>Getting started</h3>
    <p><small>Here a little help to start the fun:</small></p>
    <ol>
      <li>
        Run <strong>wonkajs app books</strong> to create your first application.
      </li>
      <li>
        Then run the local server with command: <strong>wonkajs server</strong>.
      </li>
      <li>
        Finally append to your url <strong>/#books</strong> and have fun.
      </li>
    </ol>
    <p><small>For more info, you can read the <a href="" title="">documentation</a>.</small></p>
  </div>
</script>
