<script type="text/x-handlebars-template" id="root-message-template">
  <div id="message">
    {{# has this "title" }}
      <div class="title">{{ title }}</div>
    {{/ has }}
    <div class="message">{{ message }}</div>
    <div class="form-actions">
      {{# each_with_index btns }}
        <button id="{{# equals this.index 1 }}submit{{/ equals}}{{# equals this.index 2}}close{{/ equals}}" class="btn {{# equals this.index 1 }}btn-primary{{/ equals }}" type="button">{{ this.value }}
        </button>
      {{/ each_with_index }}
    </div>
  </div>
</script>