<script type="text/x-handlebars-template" id="%(appName)s-main-template">
  <div class="wjs-header">
    <h1>
      I am your application!
    </h1>
    <h2>
      You can custom this template into: <i>%(relativePath)s/templates/main.hbs</i>
    </h2>
  </div>
  <div class="wjs-instructions">
    <h3>Other components:</h3>
    <ul>
      <li>
        <strong>Views:</strong> %(relativePath)s/views.js
      </li>
      <li>
        <strong>Models:</strong> %(relativePath)s/models.js
      </li>
      <li>
        <strong>Collections:</strong> %(relativePath)s/collections.js
      </li>
    </ul>
    <p><small>For more info, you can read the <a href="http://wonkajs.com" target="_blank">documentation</a>.</small></p>
  </div>
</script>
