<script type="text/x-handlebars" id="root-companies-template">
  <h1 class="spectacular">{{ __ "Companies using wonka.js:" }}</h1>

  <div class="row">
    <div class="span4 text-center">
      <a target="_blank" href="http://touchtastic.mx">
        <img src="/images/companies/touchtastic.png" alt="">
      </a>
    </div>
    <div class="span4 text-center">
      <a target="_blank" href="http://lastroom.mx">
        <img src="/images/companies/lastroom.png" alt="">
      </a>
    </div>
  </div>

  <h1>{{ __ "Have you used wonka.js?" }} <a href="mailto:julian@lastroom.mx">{{ __ "Click here" }}</a></h1>
</script>