@font-face { font-family:'klavika regular'; src:url("@{fonts-route}/Klavika-Regular.otf"); }
@font-face { font-family:'klavika bold'; src:url("@{fonts-route}/Klavika-Bold.otf"); }
@font-face { font-family:'klavika light'; src:url("@{fonts-route}/Klavika-Light.otf"); }

@import "variables.less";

h1, h2, h3, h4, h5 {
  font-family: 'klavika regular';
  margin:36px 0 10px;
  line-height:1.3;
  font-weight: normal;
}

.slogan {
  color: white;
  font-weight: normal;
  font-family: 'Klavika regular';
}

ul.nav li a {
  font-family: 'Klavika regular';
}

body {
  margin: 0!important;
  padding: 0!important;
}

.wjs-header {
  background: rgba(19, 7, 34, .90);
  color: @white!important;
  margin: 0!important;
  padding: 10px 60px;
  h1 {
    color: @white!important;
  }
}

p, ul, ol, table, dl {
  margin:0 0 22px;
}

.wjs-paragraph {
  color: @purple;
  padding: 10px;
}

.wjs-line {
  border: 0 none solid;
  border-top: 1px @purple solid;
  border-bottom: 1px @black solid;
}

.no-hero {
    margin: 0;
    background: none;
    padding: 0 60px;
}

a {
  color: @purple;
}

header {
  background: lighten(@black, 60%) !important;
  margin-top: 40px !important;
}

pre {
  height: 25px;
}

[class^="icon-"],
[class*=" icon-"] {
  margin-top: -1px;
}

.octocat {
    background: url("@{images-route}/octocat-small.png") no-repeat;
    width: 20px;
    height: 20px;
    margin-top: -3px;
}

.nodejs-button {
  background: #8BC84B;
  color: #46483e;
  text-decoration: none;
  font-size: 14px;
  font-weight: bold;
  padding: 14px;
}

.brand {
  font-family: 'Klavika regular';
}

.spectacular {
  font-size: 48px;
}

ul li {
  margin-left: 20px;
}

header li a.buttons {
  padding: 2px;
}

header li a.github {
  padding: 2px 2px 2px 20px;
}

footer p {
  text-align: center;
  color: #777;
  font-size: 11px;
  margin: 3px 0;
}

footer p img {
  height: 28px;
  border: 0;
  margin: 0;
}

footer p a {
  text-decoration: underline;
  color: @purple;
}

/*Carbos ads styles*/
#carbonads-container {
  margin-top: 60px;
}