@import "variables.less";

body {
  margin: 0!important;
  padding: 0!important;
}

.wjs-header {
  background: rgba(19, 7, 34, .90);
  color: @white!important;
  margin: 0!important;
  padding: 10px 60px;
  h1 {
    color: @white!important;
  }
}

.wjs-paragraph {
  color: @purple;
  padding: 10px;
}

.wjs-line {
  border: 0 none solid;
  border-top: 1px @purple solid;
  border-bottom: 1px @black solid;
}

.no-hero {
    margin: 0;
    background: none;
    padding: 0 60px;
}

a {
  color: @purple;
}

header {
  //background: @purple;
}

pre {
  height: 25px;
}

.nodejs-button {
  background: #8BC84B;
  color: #46483e;
  text-decoration: none;
  font-size: 14px;
  font-weight: bold;
  padding: 14px;
}

.spectacular {
  font-size: 48px;
}

header li a.buttons {
  padding: 2px;
}

header li a.github {
  padding: 2px 2px 2px 20px;
}

footer p {
  text-align: center;
  color: #777;
  font-size: 11px;
  margin: 3px 0;
}

footer p img {
  height: 28px;
  border: 0;
  margin: 0;
}

footer p a {
  text-decoration: underline;
  color: @purple;
}

#logo-container {
  border: 0;
}

#logo {
  width: 100%;
  border: 0;
  margin: 0;
  padding: 0;
}

.header {
  color: @gray;
}

#buttons {
  background: @purple;
  padding: 20px 10px 10px;
  border-radius: 6px;
}